html, body {
    width: 100%;
    background-blend-mode: lighten;
    background-color: #cfd7c7;
    background-size: cover;
    background-position: center;
    background-clip: padding-box;
    font-family: 'Cuprum', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
}

header {
    top: 0;
}

/* HEADER */
.header-nav {
    /* background-color: #0a66c2d0;
    background-image: -o-linear-gradient(#0a66c2d0, rgb(163, 180, 235));
    background-image: -moz-linear-gradient(#0a66c2d0, rgb(163, 180, 235));
    background-image: -webkit-linear-gradient(#0a66c2d0, rgb(163, 180, 235)); */
    background-color: #0b2027;
}

/* MAIN NAV */
.main-nav {
    display: flex;
    justify-content: center;
    margin-top: 0;
    left: 0;
    width: auto;
    list-style: none;
    font-size: 1em;
    padding: 5px;
}

@media only screen and (min-device-width: 320px) and (max-width: 600px) {
    .header-nav {
        width: auto;
    }

    .main-nav {
        width: auto;
        font-size: 0.5em;
        padding: 1px;
    }
}

.main-nav li {
    padding: 20px;
}

.main-nav li > li {
    margin-left: 0px;
}

.main-nav a {
    color: #cfd7c7;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    user-select: text;
}

.main-nav .active {
    color: #a44a3f;
}

.main-nav a:hover {
    box-shadow: 0px 10px 5px 0px black;
}

.logo {
    margin-right: 100px;
}

/* COVER */
header {
    background-color: #cfd7c7; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: padding-box;
}

header h1, h2 {
    text-align: center;
    color: #0b2027;
}

.header-headline {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.header-cover {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 30vh;
    margin-bottom: 0px;
    margin-top: 0px;
}

.header-cover img {
    width: auto;
    height: 25vh;
    margin: auto 0;
    padding: 0px;
    border-radius: 200px;
    border-color: #0b2027;
    border-width: 3px;
    border-style: solid;
}

.header-cover img:hover {
    transform: scale(1.1);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
    .header-cover {
       height: 20vh; 
    }
    
    .header-cover img {
        width: auto;
        height: 5rem;
    }
}

#hr-style {
    width: 20vw;
    margin-bottom: 25px;
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
}

.buffer {
    height: 35px;
}

/* SIDE NAV */
.body-nav {
    display: flex;
    justify-content: center;
}

.side-nav {
    height: fit-content;
    width: auto;
    min-width: 20em;
    display: flex;
    list-style: none;
    margin: 5px;
    padding: 10px;
    justify-content: space-around;
    background-color: inherit;
    /* background-image: -o-linear-gradient(#0a66c2, rgb(163, 180, 235));
    background-image: -moz-linear-gradient(#0a66c2, rgb(163, 180, 235));
    background-image: -webkit-linear-gradient(#0a66c2, rgba(163, 180, 235, 0.664)); */
    /* box-shadow: 0 0 10px 1px black;
    border-radius: 10px; */
    margin-top: 20px;
}

.side-nav > li {
    font-size: 1.2em;
    padding: 10px;
}

.side-nav li:hover {
    transform: scale(1.1);
}

.side-nav > a, i {
    padding: 7px;
    color: #0b2027;
    border-style: solid;
    border-radius: 200px;
    border-width: 2px;
    border-color: #a44a3f;
    background-color: #a44a3f;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
    .side-nav {
        width: auto;
        min-width: fit-content;
        height: auto;
        padding: 5px;
    }

    .side-nav > li {
        font-size: 1em;
        margin: 5px;
        padding: 5px;
    }
}

/* ABOUT */
.about {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-content: center; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    margin-top: 20px;
    color: #0b2027;
}

.about h1 {
    font-size: 50px;
    text-align: center;
    grid-row: 1fr;
    padding: 10px;
}

.about p {
    text-align: start;
    line-height: 1.5em;
    padding: 5px;
    font-size: 20px;
    font-style: normal;
    grid-row: span 1;
}

.block-text {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 22em;
}

@media only screen and (min-width: 320px) and (max-width: 350px) {
    .about {
        width: auto;
        padding: 10px;
        display: grid;
        grid-template-rows: 1fr;
        gap: 10px;
        margin-top: 20px;
    }

    .block-text {
        margin-left: auto;
        margin-right: auto;
        width: 12em;
    }
}

@media only screen and (min-width: 350px) and (max-width: 480px) {
    .about {
        width: auto;
        padding: 10px;
        display: grid;
        grid-template-rows: 1fr;
        gap: 10px;
        margin-top: 20px;
    }

    .block-text {
        margin-left: auto;
        margin-right: auto;
        width: 15em;
    }
}

footer {
    height: auto;
    background-color: whitesmoke;
    background-size: cover;
    margin-top: 50px;
    padding: 50px
}

footer > p {
    text-align: center;
}

footer a {
    color: inherit;
    text-decoration: underline;
}
