.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
    gap: 20px;
    justify-content: center;
}

.box {
    padding: 5px;
    margin: 20px auto;
    background-color: #0b2027;
    color: #cfd7c7;
    display: flex;
    flex-direction: column;
    border: 1px solid #a44a3f;
    border-radius:4px;
    border-width: 1px;
}

.box:hover {
    /* -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px; */
    border-color: #a44a3f;
    border-width: 3px;
}

.box h3 {
    text-align: center;
}

.side-nav > a, i {
    padding: 5px;
    color: #0b2027;
    border-style: solid;
    border-radius: 200px;
    border-width: 2px;
}

/* .box p {
    text-align: center;
} */

.block-text {
    min-width: 20rem;
    max-width:  25rem;
    height: fit-content;
    line-height: 1.5em;
}

@media only screen and (min-width: 370px) and (max-width: 480px) {
    .box {
        width: auto;
    }

    .block-text {
        font-size: 0.9em;
        width: 12rem;
    }
}

@media only screen and (max-width: 370px) {
    .box {
        width: 80vw;
    }

    .block-text {
        font-size: 0.7em;
        min-width: 13rem;
    }
}


.buffer {
    height: 15px;
}

.center-horizontal {
    display: flex;
    justify-content: center;
}

.icons {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 5px;
    margin-top: auto;
    margin-bottom: 0;
}
